@model SDP_MVC5.Models.Reminder

@{
    ViewBag.Title = "Details";
}

<h2>Reminder Detail</h2>
<hr />
<div>
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.workshopID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.workshopID)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.workshopName):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.workshopName)
        </dd>
        @*<dt>
        @Html.DisplayNameFor(model => model.studentID)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.studentID)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.createdtime)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.createdtime)
    </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.remindertime):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.remindertime)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class="btn btn-default btn-lg sizeFull"})
    @Html.ActionLink("Delete", "Delete", new { id = Model.ID }, new { @class = "btn btn-danger btn-lg sizeFull mtm" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default btn-lg sizeFull mtm" })
</p>
