@model SDP_MVC5.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<!--
    todo: Error bootstrap alert;
    todo: Error message bootstrap style;

-->
<div class="container">
    <div class="alert alert-warning none" id="f_regAlert">
        It may take some time to vierty if the studentID your giving is available. Please waiting in patient.
    </div>
    <div class="f_loading none"></div>
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Register</div>
            </div>
            <div class="panel-body ptm">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        <label for="StudentID">StudentID</label>
                        <div class="input-group" data-validate="number">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input class="form-control" type="text" id="StudentID" name="StudentID" value="" placeholder="Numerical Only" required />
                            <span class="input-group-addon danger"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>
                    <div class="form-group none">
                        @Html.LabelFor(m => m.Email, new { @class = "" })
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "" })
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Required", required = "required" })
                            <span class="input-group-addon danger"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "" })
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Required", required = "required" })
                            <span class="input-group-addon danger"><span class="glyphicon glyphicon-asterisk"></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <a href="javascript:void(0);" class="btn btn-primary btn-block" id="reg_submit">Submit</a>
                            <input type="submit" class="btn btn-default none" id="reg_reg" value="Register" />
                            @Html.ActionLink("Back to Login", "Login", "Account", null, new { @class="btn btn-warning btn-block" })
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script>
    $("#reg_submit").click(function () {
        api_reg($.trim($("#StudentID").val()));
    });
    $.ajaxSetup
    ({
        beforeSend: function (request) {
            request.setRequestHeader("AppKey", "123456");
        },
        contentType: "application/json"
    });

    function api_reg(username) {
        var url = JsonUrl + "api/student?id=" + username;
        var params = {};
        $("#f_regAlert").removeClass("none");
        $(".f_loading").removeClass("none");
        $.get(url, params, function (data) {
            json = data.Student
            if (json == null) {
                alert("Sorry, we can't find your student ID in the database, make sure you enter the right student ID");
                $("#f_regAlert").addClass("none");
                $(".f_loading").addClass("none");
            } else {
                $("#Email").val(username + "@@student.uts.edu.au")
                $("#reg_reg").click();
            }
        });
    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
