
@{
    ViewBag.Title = "My Booking History";
}

<h2>@ViewBag.Title</h2>

<script>
    api_ajaxBookhistory("api/workshop/booking", "/search?StudentId=@User.Identity.Name.Substring(0,8)&PageSize=1000")
</script>
<div class="alert-danger none_" id="api_errorMessage"></div>
<div class="f_loading"></div>
<ul class="list-group f_load" id="" data-bind="foreach: ko_array">
    <li class="list-group-item">
        <a href="javascript:void(0)" data-toggle="modal" data-target="#NewsessionModal"
           data-bind="text: topic, attr: {
            'data-studentId': '@User.Identity.Name.Substring(0,8)',
            'data-BookingId': BookingId,
            'data-workshopID': workshopID,
            'data-studentID': studentID,
            'data-topic': topic,
            'data-description': description,
            'data-targetingGroup': targetingGroup,
            'data-campusID': campusID,
            'data-starting': starting,
            'data-ending': ending,
            'data-maximum': maximum,
            'data-cutoff': cutoff,
            'data-canceled': canceled,
            'data-attended': attended,
            'data-WorkShopSetID': WorkShopSetID,
            'data-type': type,
            'data-reminder_num': reminder_num,
            'data-reminder_sent': reminder_sent,
            'data-WorkshopArchived': WorkshopArchived,
            'data-BookingArchived': BookingArchived
        }"></a>
    </li>
</ul>
@Html.ActionLink("Back to My Booking", "Newsession", "Home", null, new { @class = "btn btn-primary btn-block" })
@Html.ActionLink("Search Booking History", "SearchHistory", "Home", null, new { @class = "btn btn-info btn-block" })

@Html.Partial("_BookingHistoryModal")

