@model SDP_MVC5.Models.Waiting

@{
    ViewBag.Title = "Create";
}

<h2 class="none">Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @*<h4>Waiting</h4>
            <hr />*@
        @* todo: anti repeat data *@
        <div class="bs-example-modal" style="background: #ffffff; ">
            <div class="modal" style="overflow-y: visible;">
                <div class="modal-dialog">
                    @* Todo: anti-repeat *@
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Are you sure?</h4>
                        </div>
                        <div class="modal-body">
                            <p><b>Workshop Name:</b> @Request.QueryString["workshopName"]</p>
                            <p>Are you sure you want to add yourself to the waiting list?</p>
                            <div class="row">
                                <div class="col-12-xs text-center">
                                    <input type="hidden" value="@DateTime.Now" name="createdtime" id="createdtime">
                                    @Html.HiddenFor(Model => Model.workshopName)
                                    @Html.HiddenFor(Model => Model.studentID)
                                    @Html.HiddenFor(Model => Model.workshopID)
                                    @Html.HiddenFor(Model => Model.workshopSetID)
                                    <input type="submit" value="Yes" class="btn btn-primary" />
                                    <a class="btn btn-danger btn-md" href="javascript:window.history.back();">No</a>
                                </div>
                            </div>
                        </div>

                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
