@model IEnumerable<SDP_MVC5.Models.Waiting>

@{
    ViewBag.Title = "My Waiting List";
}

<h2>My Waiting List</h2>

<p class="none">
    @Html.ActionLink("Create New", "Create")
</p>
<ul class="list-group">
@foreach (var item in Model) {
    <li class="list-group-item">
        @Html.ActionLink((item.workshopID.ToString()), "Details", new { id = item.ID })
    </li>
}
</ul>
<table class="table none">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.workshopID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.studentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.workshopID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.studentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
