@model IEnumerable<SDP_MVC5.Models.Attendance>

@{
    ViewBag.Title = "Index";
}

<h2>My Attendances</h2>

<p class="">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.workshopID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.studentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdtime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.attendancetime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.workshopID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.studentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createdtime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.attendancetime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
